body {
  margin: 0px;
}

#center {
 max-width: 500px;
  margin: auto;
}

.topBackdrop{
    background-image:url("https://www.kastapp.co/images/gradient-violet-bg.jpg");
    position: static;
    min-height: 700px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #000;
    background-position: 50% 50%;
    background-size: cover;
}

.purpleSection {
  margin-top: -45px;
}

.topLogo{
    position: relative;
    z-index: 1;
    height: 250px;
    width: 250px;
    margin-top: -875px;
    margin-left: 20px;
    transition: transform .2s;
}

.topLogo:hover {
  transform: scale(1.07);
}

.nav ul {
  float: right;
  position: relative;
  z-index: 1;
  font-family:'Roboto', sans-serif;
  font-size: 19px;
  color: #fff;
  margin-top: -150px;
  margin-right: 150px;
  line-height: 35px;
}

.nav li {
  display: inline;
  padding: 20px;
}

.openButton {
  z-index: 1;
  position: relative;
  float: right;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  padding: 1px 5px 1px 5px;
  letter-spacing: 1px;
  margin-top: -150px;
  margin-right: 30px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  transition: transform .2s;
}

.openButton:hover {
  transform: scale(1.04);
}

#underline:hover {
  text-decoration: underline;
}

a:link {
  color: white;
  text-decoration: none;
}

.laptop {
  z-index: 1;
  position: relative;
  display: block;
}

.introText {
  font-weight: bold;
  font-size: 19px;
  font-family:'Roboto', sans-serif;
  color: white;
  margin-left: 830px;
}

.subtext {
  font-size: 21px;
  color: white;
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-weight: normal;
  max-width: 600px;
  margin-left: -80px;
}

.openButtonOrange {
  z-index: 1;
  position: relative;
  background-color: #ff9500;
  color: white;
  letter-spacing: 3px;
  line-height: 35px;
  width: 175px;
  padding: 10px 10px 10px 10px;
  margin-left: 933px;
  margin-top: -20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
  transition: transform .2s;
}

.openButtonOrange:hover {
  transform: scale(1.02);
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 210px;
  row-gap: 100px;
  margin-left: 25%;
}

.featuredIn {
  background-color: white;
  min-height: 200px;
  margin-top: -85px;
}

.featuredInBoxText {
  font-weight: bold;
  font-family:'Roboto', sans-serif;
  color: black;
  margin-top: 10%;
  margin-left: 50%;
}

.quoteText {
  font-weight: normal;
  font-size: 22px;
  font-family:'Roboto', sans-serif;
  color: black;
  margin-left: 31%;
  margin-top: 5%;
}

.tealAbout {
  background-image:url("https://www.kastapp.co/images/green-bg.jpg");
    position: static;
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-position: 50% 50%;
    background-size: cover;
}

.tealTitle {
  font-weight: bold;
  font-size: 50px;
  font-family:'Roboto', sans-serif;
  color: white;
  position: relative;
  margin-left: 45%;
}

.tealBodyText {
  font-size: 27px;
  color: white;
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-weight: normal;
  max-width: 1000px;
  margin-left: 550px;
}

/*end code 4/10 150AM*/