.wrapper{
    margin: 2px;
}

body{
    background-image:url("../../HTMLCSSPreWork/3-Assets/kastappbg.jpg");
    position: relative;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #000;
    background-position: 50% 50%;
    background-size: cover;
    border: 0px none transparent;
    border-radius: 0px;
}

.header {
    width: 100%;
    position: relative;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.logo.top {
    position: relative;
    z-index: 0;
    width: 201px;
    height: auto;
    margin-top: -300px;
    margin-left: 0px;
}
