body {
  margin: 0px;
}

.topBackdrop{
    background-image:url("https://www.kastapp.co/images/gradient-violet-bg.jpg");
    position: static;
    min-height: 700px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #000;
    background-position: 50% 50%;
    background-size: cover;
}

.topLogo{
    position: relative;
    z-index: 1;
    height: 250px;
    width: 250px;
    margin-top: -875px;
    margin-left: 20px;
    transition: transform .2s;
}

.topLogo:hover {
  transform: scale(1.07);
}

.nav ul {
  float: right;
  position: relative;
  z-index: 1;
  font-family:'Roboto', sans-serif;
  font-size: 19px;
  color: #fff;
  margin-top: -150px;
  margin-right: 150px;
  line-height: 35px;
}

.nav li {
  display: inline;
  padding: 20px;
}

.openButton {
  z-index: 1;
  position: relative;
  float: right;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  padding: 1px 5px 1px 5px;
  letter-spacing: 1px;
  margin-top: -150px;
  margin-right: 30px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  transition: transform .2s;
}

.openButton:hover {
  transform: scale(1.04);
}

#underline:hover {
  text-decoration: underline;
}

a:link {
  color: white;
  text-decoration: none;
}

.laptop {
  z-index: 1;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  width: 33%;
}

.introText {
  font-size: 25px;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
  margin-top: -20px;
  margin-left: 747px;
}

.subtext {
  font-size: 22px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-weight: normal;
  margin-right: 810px;
  margin-top: -10px;
}

.openButtonOrange {
  z-index: 1;
  position: relative;
  background-color: #ff9500;
  color: white;
  padding: 10px 75px 10px 75px;
  letter-spacing: 3px;
  margin-top: 15px;
  margin-bottom: 500px;
  margin-left: 884px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
  transition: transform .2s;
}

.openButtonOrange:hover {
  transform: scale(1.02);
}

/*end code 4-8-21 1130pm*/